/* for mobile devices */

@media screen and (max-width: 576px) {
    .nav-container, .nav-items{
        flex-direction: column;
    }
    .nav-container{
        width: 100%;
        height: auto;
        margin-top: 100px;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .nav-items{
        margin-top: 62px;
    }
}


/* styles for medium devices */
@media screen and (min-width: 576px) and (max-width: 990px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-container{
        width: auto;
        height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .nav-items{
        margin-top: 62px;
    }
}