/* for mobile devices */

@media screen and (max-width: 576px) {

    .nav-container,
    .nav-items,
    .we-are-gamer-container {
        flex-direction: column;
    }


    .nav-container {
        width: 100%;
        height: auto;
        margin-top: 100px;
        box-shadow: none;
        margin-bottom: 20px;
        padding: 0px;
    }

    .nav-items {
        margin-top: 62px;
    }

    /* play like section starts here */
    .play-like-section-container {
        flex-direction: column-reverse;
        padding: 15px;
        /* align-items: center;
        justify-content: center; */
    }

    .play-like-image img {
        object-fit: contain;
        padding: 10px 0px;
        width: 100%;

    }

    .play-like-image {
        padding: 0px !important;

    }

    .play-like-text {
        padding: 10px 0px;
        margin-top: 20px;

    }


    /* we are gamer */
    .we-are-gamer-container {
        padding: 0;

    }

    .we-are-gamer-image img {
        width: 100%;
        margin-bottom: 50px;
    }

    .we-are-gamer-text {
        text-align: center;
        padding: 20px;
    }

    /* online section starts here */
    .all-games {
        flex-wrap: wrap;
    }

    /* play instantly  section */
    .play-instant-section-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .play-instant-section-container>img {
        position: relative;
        width: 50%;
        height: 50%;
        flex-shrink: 0;
        left: -85px;
        top: -200px;
    }

    .play-instant-image>img {
        position: relative;
        left: 91px;
        width: 80%;
        height: 100%;
        margin-top: 20px;
    }

    /* play anywhere any time */
    .anywhere-anytime-container {
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 0px;
        padding: 0px;
        gap: 20px;
    }
    .anywhere-anytime-image{
        height: 100%;
        width: 100%;
    }

    .anywhere-anytime-image>img {
        width: 80%;
        position: relative;
        top: -273px;
        left: 44px;
        height: 60%;
    }

    .antwhere-anytime-title,
    .anywhere-anytime-description {
        text-align: center;
    }

    .anywhere-anytime-container>img {
        height: 50%;
        width: 40%;
        position: relative;
        left: 150px;
        top: 260px;
    }


    element.style {}

    .advertise-section-container {
        width: 100%;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
        padding: 100px 240px 100px 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        align-content: center;
        flex-direction: column;
    }
    /* footer section */

    .footer-links-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .social-media-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items:center ;
    }
    .terms-and-condition{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items:center ;
    }


}


/* styles for medium devices */
@media screen and (min-width: 576px) and (max-width: 990px) {

    .nav-container,
    .we-are-gamer-container {
        flex-direction: column;
    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 100px;
        padding-bottom: 50px;
        margin-bottom: 10px;
        height: fit-content;
        width: 100%;
    }

    .nav-items {
        margin-top: 62px;
    }

    /* play like section */

    .play-like-section-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 20px 100px;
        width: 100%;

    }

    /* we are gamer */
    .we-are-gamer-container {
        padding: 0;
        width: 100%;
        text-align: center;
        justify-items: center;

    }

    .we-are-gamer-image {
        width: 100%;
    }

    .we-are-gamer-image img {
        width: 100%;
        margin-bottom: 50px;
    }

    .we-are-gamer-text {
        text-align: center;
        padding: 20px;
    }

    /* online games section starts here */
    .all-games {
        flex-wrap: wrap;

    }

    .online-games-container {
        width: 100%;
    }

}