/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-primary-color {
    color: #534C64;
}

.text-secondary-color {
    color: #0B0223;
}

.btn-primary {
    padding: 21px 40px;
    color: #FFFFFF;
    border-radius: 48px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}


/* shared styles ends here */

/* nav section styles start here*/
.nav-container {
    background: #FFF;
    height: 130px;
    padding: 0px 240px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ;
}

.nav-title img {
    object-fit: cover;
    width: 86.041px;
    height: 40px;
    margin-right: 20px;
}

.nav-title {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.text-G {
    color: #FF42A5;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icons {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px;
    gap: 20px;
}

.nav-items a {
    text-decoration: none;
}

.item-text {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.fa-youtube {
    color: #F61C0D;
}

/* nav section styles ends here */

/* play like GOAT section styles start here */
.play-like-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-like-text {
    background-image: url('/images/Group\ 14.png');
    width: 100%;
    background-repeat: no-repeat;
    height: 700px;
    padding: 0 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-like-section-container .section-title {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

#text-goat {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.section-feature {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0px;
}

.button-container {
    margin-top: 40px;
    display: flex;
}

.btn-go-rogue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;

}

.play-like-image {
    padding-right: 240px;
}

/* play like GOAT section styles ends here */

/* we are gamer section start here */
.we-are-gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.we-are-gamer-image {}

.we-are-gamer-text {
    text-align: right;
}

.we-are-gamer-container .section-title {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.section-description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 520px;
}

.our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

.btn-know-more {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.we-are-gamer-container p {
    margin-top: 20px;
}

.unleash {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* we are gamer section ends here */

/* online section starts here */
.online-games-container {
    max-width: 1400px;
    margin: 20px auto;
}

.online-games-container .section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

#funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-games-container .title-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.all-games {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
    /* justify-content: space-around; */
}

.all-games img {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.games-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 342px;
}

/* play instance game section */
.play-instant-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

}

.play-text-container {
    text-align: center;
}

.play-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 353px;
}

.play-instant-section-container>img {
    position: relative;
    left: -500px;
    top: 300px;

}

.play-instant-image>img {
    position: relative;
    left: 300px;
}

.play-online-games {
    flex-direction: row-reverse;
}

/* anywhere-anytime section */
.anywhere-anytime-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 230px;
    margin-bottom: 200px;
}

.anywhere-anytime-image {
    width: 710px;
    height: 650px;
}

.antwhere-anytime-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    width: 426px;
}

#anywhere-anytime {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.anywhere-anytime-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    width: 483px;
}

.anywhere-anytime-container>img {
    position: relative;
    left: -200px;
    top: 300px;
}

/* advertisement section */
.advertise-section-container {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 100px 240px 100px 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.box {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #0B0223;
}

.box:hover {
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer sections */
.footer-container {
    border: 2px solid saddlebrown;
    background: #0B0223;
}

.footer-title {
    margin-top: 50px;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 66px;
}

.footer-links-container {
    display:flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.footer-links-container a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}

.social-media-container, .terms-and-condition{
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
}

.social-media-container a{
color: #FFFFFF;

}
.social-media-container i{
    width: 40px;
    height: 40px;
}

.terms-and-condition a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}

.footer-container p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}